body {
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/092/146/original/weatherAppBackground.jpg?1691157459);
  background-size: cover;
}
.container {
  margin: 60px auto 0;
  color: #44958b;
  border: 1px, solid, #99bedb;
  border-radius: 6px;
  background: #99bedb;
  max-width: 960px;
}

.right-column,
.left-column {
  padding: 15px;
}

.search-city {
  opacity: 0.7;
  font-style: italic;
  border-radius: 20px;
  border-color: #44958b;
  color: #44958b;
}
h1 {
  font-size: 70px;
  text-align: center;
}
.city-name {
  text-align: center;
  font-size: 35px;
}

.h2-degree {
  font-size: 45px;
}
.day-day-time {
  font-weight: bolder;
}
.weather-today {
  font-size: smaller;
}
.h2-degree,
.day-time,
.description-weather {
  margin-left: 12px;
}
.city-picture {
  width: 90%;
  border-radius: 8px;
  display: block;
  margin: 0 auto;
}

.week {
  font-weight: bolder;
  text-decoration: underline;
}
.current-location {
  border-radius: 5px;
  font-size: 13px;
  text-align: center;
  transition: all, 150ms, ease-in-out;
  border-color: #44958b;
  background: #44958b;
  color: white;
  padding: 8px 10px;
}
.location {
  text-align: right;
  padding: 0;
}

.℉,
.℃ {
  border-radius: 50%;
  text-align: center;
  transition: all, 150ms, ease-in-out;
  background-color: #44958b;
  color: white;
  border-color: #44958b;
}
.link {
  text-decoration: none;
  color: white;
  cursor: default;
}
.active {
  color: white;
  cursor: default;
  text-decoration: none;
}
.active:hover {
  text-decoration: none;
}
.card {
  transition: all 200ms ease-in-out;
  border-color: #44958b;
  background-color: #a4c6dd;
  color: white;
}
.card:hover {
  background-color: beige;
  border-color: beige;
  color: #44958b;
}
.day {
  text-align: center;
}
.emoji {
  text-align: center;
  font-size: 25px;
}
.week-degree {
  text-align: center;
}
.week-degree-low {
  opacity: 0.7;
}
.wind,
.humidity,
.sunrise-sunset {
  text-align: center;
}
.wind-speed,
.humidity-percent {
  font-size: 35px;
}
.card-subtitle-wind,
.card-subtitle-humidity,
.card-subtitle-sunrise-sunset {
  opacity: 0.8;
}
.sunrise-sunset-time {
  font-size: 25px;
}
.gitHubCode {
  color: #44958b;
  display: block;
  font-size: smaller;
  margin-left: 12px;
  padding-bottom: 7px;
}
.open-source {
  text-decoration: none;
  color: white;
}
.open-source:hover {
  text-decoration: underline;
  cursor: pointer;
}
